{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename = '/css/amigos.css')}}>

{% endblock %}

{% block titulo %}Virtual Librarian - Lista de Amigos{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class = 'container-fluid'>
    <div class ='d-flex justify-content-center'>
        <div class = "card-columns" align='center'</div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Joãozim Almeida</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Fulano D'Tal</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Aberlardo Adamastor</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Jubernil Irimasu</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Aeronildo Falcão</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Dezêncio Bandeirante</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Magnesium Lyra</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Tributina Jeffries</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class = 'card'>
                    <img src='https://img.freepik.com/vetores-gratis/pequeno-principe-jogar-espada-pegando-a-estrela_255467-32.jpg?size=338&ext=jpg' class="card-img-top" alt="Card image cap">
                    <div class = 'card-body'>
                        <p class = 'card-text'>Sonim Seleida</p>
                    </div>
                        <hr>
                    <div class = 'card-body'>
                        <div class ="row justify-content-between">
                            <div class = "col-4">
                                <a href='/perfil' class='card-link'>Perfil</a>
                            </div>
                            <div class = "col-4">
                                <a href='#' class='card-link'>Chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}