{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename = '/css/amigos.css')}}>

{% endblock %}

{% block titulo %}Virtual Librarian - Lista de Amigos{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class = 'container-fluid'>
    <div class ='d-flex justify-content-center'>
        <div class = "card-columns" align='center'>
            {% for amigo in amigos %}
                <div class="col-md-10">
                    <div class = 'card'>
                        <a href="/perfil/{{amigo.usuario.id}}"><img class = "img-fluid" src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{amigo.usuario.imagem}}' class="card-img-top" alt="Card image cap"></a>
                        <div class = 'card-body'>
                            <p class = 'card-text'>{{amigo.usuario.nome}} {{amigo.usuario.sobrenome}}</p>
                        </div>
                            <hr>
                        <div class = 'card-body'>
                            <div class ="row justify-content-between">
                                <div class = "col-4">

                                    <a href="/perfil/{{amigo.usuario.id}}">Perfil</a>

                                </div>
                                <div class = "col-4">
                                    <a href='#' class='card-link'>Chat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>



{% endblock %}
