{% extends 'base.html' %}

{% block csss %}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename = '/css/buscas.css')}}>
{% endblock %}

{% block titulo %}Buscas - Virtual Librarian{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class = "container-fluid">
    <div class = "resultadopesquisa">
        <p>Exibindo resultados para "{{busca}}"</p>
    </div>

    <div = "caixasite">
        {% if usuarios or livros %}
            <div class="card-columns" align='center'>
                {% for usuario in usuarios %}
                    <div class="col-md-10">
                        <div class = "card">
                            <a href="/perfil/{{usuario.id}}"><img class='perfil img-fluid' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{usuario.imagem}}'></a>
                            <div class="card-body">

                                <a href="/perfil/{{usuario.id}}">{{usuario.nome_completo}}</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for livro in livros %}
                    <div class="col-md-10">
                        <div class = "card">
                            <img class='perfil img-fluid' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{livro.imagem}}'>
                            <div class="card-body">
                                <a class = "linksite" href="/livros/{{livro.id}}">{{livro.titulo}} ({{livro.autor}})</a>
                                {% for genero in livro.genero %}
                                    <small>{{genero.nome}}</small>
                                {% endfor %}
                                <p><span class="badge badge-info">{{livro.status}}</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="paragrafo">Página não encontrada</p>
        {% endif %}
    </div>
</div>

</body>
</html>


{% endblock %}
