{% extends 'base.html' %}

{% block csss %}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename = '/css/buscas.css')}}>
{% endblock %}

{% block titulo %}Buscas - Virtual Librarian{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class = "container-fluid">
    <div class = "resultadopesquisa">
        <p>Exibindo resultados para "{{busca}}"</p>
    </div>

    <div = "caixasite">
        {% if existe == 1 %}
            {% if nomes != {} or sobrenomes != {} or livros != {} %}
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead class="pesquisas">
                            <tr>
                                <th>Busca</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>

                {% for nome in nomes %}
                            <tr>
                                <td>{{nome.nome}} {{nome.sobrenome}}</td>
                                <td><a class = "linksite" href='/'>{{nome.nome}} {{nome.sobrenome}}</a></td>
                            </tr>
                {% endfor %}
                {% for sobrenome in sobrenomes %}
                            <tr>
                                <td>{{sobrenome.nome}} {{sobrenome.sobrenome}}</td>
                                <td><a class = "linksite" href='/'>{{sobrenome.nome}} {{sobrenome.sobrenome}}</a></td>
                            </tr>
                {% endfor %}
                {% for livro in livros %}
                            <tr>
                                <td>{{livro.titulo}} ({{livro.autor}})</td>
                                <td><a class = "linksite" href='/livros/{{livro.usuario_id}}/{{livro.id}}'>{{livro.titulo}} ({{livro.autor}})</a></td>
                            </tr>
                {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}

        {% else %}

            <p class="paragrafo">Página não encontrada</p>

        {% endif %}
    </div>
</div>

</body>
</html>


{% endblock %}
