{% extends 'base.html' %}

{% block csss %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/estante.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block titulo %}Virtual Librarian - Estante{% endblock %}

{% block conteudo %}
    {{ super() }}

<div class = "container">

    <div class = "Tituloestante">
        <h1>Estante</h1>
    </div>
    <div class = "card-columns" align='center'>
        {% for livro in livros: %}
        <div class="col-xs">
            <div class = 'card'>
                <a href='/livros/{{livros[livro].idlivro}}'}}>
                    <img class="card-img-top" id="imagemcard">
                    {% if livro.imagem %}
                        <img class="img-fluid" src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{livro.imagem}}'>
                    {% endif %}
                </a>
                <div class = 'card-body'>
                    <p class = 'card-text'>{{livros[livro].titulo}}</p>
                    <p class = 'card-text'>{{livros[livro].autor}}</p>
                    {% if not usuario %}

                        <a href = "/delete/{{livros[livro].idlivro}}">
                            <button class="delete btn btn-danger"><i class="material-icons">delete</i></button>
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- CADASTRO DE LIVROS -->
    <div class="cad_livro">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
            <i class="material-icons">add</i>
        </button>

          <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Cadastrar Livro</h4>
                    </div>

                    <!-- Modal body -->
                    <form action = '/livro-cadastrado' method='POST' enctype="multipart/form-data">
                        <div class="modal-body">

                            <!-- INÍCIO DAS COLUNAS -->
                            <div class="row">

                                <!-- COLUNA 1 -->
                                <div class='col md-5'>
                                        <label for="file-button">Capa do Livro</label><br>
                                        <button class="file-button btn btn-light" type="button"><i class="material-icons">open_in_browser</i></button><br>
                                        <input class="file-chooser" name = "imagemsel" type="file" accept="image/*" hidden>
                                        <img class="previa">

                                        <!-- JAVASCRIPT -->
                                        <script src="/static/js/estante.js"></script>

                                    <div class="resumo">
                                        <label for="resumo">Resumo</label>
                                        <textarea class="form-control" name="resumo" id="resumo" aria-label="Com textarea"></textarea>
                                    </div>
                                </div>

                                <!-- COLUNA 2 -->
                                <div class="col md-5 ml-auto">
                                    <div class="form-group">
                                        <select class="form-control" name="status" id="status">
                                            <option selected>Selecione o status do livro</option>
                                            <option value="Exibição">Exibição</option>
                                            <option value="Troca">Troca</option>
                                            <option value="Venda">Venda</option>
                                            <option value="Troca e Venda">Troca e venda</option>
                                        </select>
                                    </div>

                                    <div class="input-group" id="preco">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                        </div>
                                        <input type="number" class="form-control">
                                    </div>

                                    <label for="titulo">Titulo</label>
                                    <input type="text" name = "titulo" class="form-control"id="titulo_livro">
                                    <label for="autor">Autor</label>
                                    <input type="text" name = "autor" class="form-control" id="autor">
                                    <label for="generos">Gêneros</label>
                                    <div class="generos container" id="generos">
                                    	<div class="row">
                                        	<div classs="col-sm-6">

                                            	<div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Romance" name="genero" value="Romance">
                                                  	<label class="custom-control-label" for="Romance">Romance</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Crônica" name="genero" value="Crônica">
                                                  	<label class="custom-control-label" for="Crônica">Crônica</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Ensaio" name="genero" value="Ensaio">
                                                  	<label class="custom-control-label" for="Ensaio">Ensaio</label>
                                                </div>
                                            	<div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Drama" name="genero" value="Drama">
                                                  	<label class="custom-control-label" for="Drama">Drama</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Fantasia" name="genero" value="Fantasia">
                                                  	<label class="custom-control-label" for="Fantasia">Fantasia</label>
                                                </div>
                                        	</div>

                                            <div class="col-sm-6">
                                            	<div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Conto" name="genero" value="Conto">
                                                  	<label class="custom-control-label" for="Conto">Conto</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Poema" name="genero" value="Poema">
                                                  	<label class="custom-control-label" for="Poema">Poema</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Terror" name="genero" value="Terror">
                                                  	<label class="custom-control-label" for="Terror">Terror</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Thriller" name="genero" value="Thriller">
                                                  	<label class="custom-control-label" for="Thriller">Thriller</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                 	<input type="checkbox" class="custom-control-input" id="Novela" name="genero" value="Novela">
                                                  	<label class="custom-control-label" for="Novela">Novela</label>
                                                </div>
                                            </div>
                                    	</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="botaocad" class="btn btn-light">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
      </div>
  </div>
</div>

{% endblock %}
