{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for('static', filename= 'css/item1.css' )}}>
{% endblock %}

{% block titulo %}{{livro.titulo}} - Virtual Librarian{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class="container-fluid" >

    <!--CAIXA DO ITEM 1-->
    <div class="media border p-3">
      <img class="img-fluid" id='imagem-livro' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{livro.imagem}}'>
      <div class="media-body">
        <h4>{{livro.titulo}} <small><i>({{livro.autor}})</i></small></h4>
        <small><i>Adicionado em 06 de Março de 2021 <br></i></small>
        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#resumo">Resumo</button>
        <div id="resumo" class="collapse">
            <p class="text-justify">{{livro.resumo}}</p>
        </div>
        <div class="botao">
          <button type="button" class="btn btn-outline-success btn-sm">Desejo</button>
          <button type="button" class="btn btn-outline-info btn-sm">Tenho</button>
        </div>
      </div>
    </div>

    <!--DETALHES ITEM 1-->
    <div class="main container">
      <div class="row">
    <!--COLUNA DE CONTATO-->
        <div class="contato col-md-4">
          <h3 id="contato"> Contato</h3>
          <div class="media">
            <img class= 'img-fluid' id='imagem-usu' src= https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{usuario.imagem}}>
            <div class="media-body">
              <h5><a href="/perfil/{{livro.usuario_id}}">{{usuario.nome}} {{usuario.sobrenome}}</a></h5>
              <p><small id="reput">Confiável/duvidosa</small></p>
              <button type="button" id = "botaochat" class="mensagem btn btn-warning btn-sm"><a href="#"class="material-icons">message</a></button>
            </div>
          </div>
        </div>
    <!--COLUNA PRINCIPAL-->
        <div class="col-md-8">
          <h2 id="detalhes">Detalhes</h2>
          <b>Status do livro:</b> Disponível para troca.
          <p><b>Condições do livro:</b> Apresenta poucas marcas de uso, com todas as páginas sem danos ou rasgos. Além disso, o livro possui um estado de conservação bem elevado, já que obteve somente um dono.</p>
          <div class="fakeimg"><i>Foto dos danos</i></div>
        </div>
      </div>
    </div>
  </div>

    <div class = "container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="detalhes">Dúvidas</h2>
                <div class="media border p-4">
                    <img class= 'img-fluid' id='imagem-usu' src= https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{current_user.imagem}}>
                    <div class="media-body">
                        <h5>{{current_user.nome}} {{current_user.sobrenome}}</h5>
                        <form action = '/forum/cadastro/{{current_user.id}}/{{livro.id}}' method='POST'>
                            <div class = "formatopostagem">
                                <textarea  name="comentario" cols="" rows="2" placeholder="Dúvida..."></textarea>
                                <button id='enviar' type="submit" class="botaoenviar btn">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% for post in posts %}
                    {% if posts %}
                        {% if posts[post].idlivro == livro.id %}

                    <div class = "caixadosbotoes container-fluid">
                        <div class="media border p-4">
                            <div class="teste media">
                                {% if posts[post].imagem %}
                                    <img class='rounded-circle' id='img-usu' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{posts[post].imagem}}'>
                                {% else %}
                                    <div class="fakeimg mr-2">Foto do {{posts[post]['nome']}}</div>
                                {% endif %}
                                <div class="formatopostagem">
                                    <div class = "p-2 flex-fill bd-highlight">
                                        <h5 id="data">{{posts[post]['nome']}} {{posts[post]['sobrenome']}} <small><i>Postou em {{posts[post]['data'].strftime("%d/%m/%Y")}}</i></small></h5>
                                        <p class = "textopostagem">{{posts[post]['conteudo']}}</p>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formResposta{{posts[post].id}}">Responder</button>
                                        <div id="formResposta{{posts[post].id}}" class="collapse">





                                            <form action = '/forum/cadastro/resposta/{{current_user.id}}/{{posts[post].idlivro}}/{{posts[post].id}}' method='POST'>
                                                <div class = "formatopostagem">
                                                    <textarea  name="resposta" cols="" rows="2" placeholder="Dúvida..."></textarea>
                                                    <button id='enviar' type="submit" class="botaoenviar btn">Publicar</button>
                                                </div>
                                            </form>





                                        </div>
                                    </div>

                                {% for resposta in respostas %}
                                    {% if respostas[resposta].idforum == posts[post].id %}
                                        <div class = "media mt-3">
                                            <div class="teste media">
                                                <img class='rounded-circle' id='img-usu' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{posts[post].imagem}}'>

                                                <div class="formatopostagem">
                                                    <div class = "p-2 flex-fill bd-highlight">
                                                        <h5 id="data">{{posts[post]['nome']}} {{posts[post]['sobrenome']}} <small><i>Postou em {{posts[post]['data'].strftime("%d/%m/%Y")}}</i></small></h5>
                                                        <p class = "textopostagem">{{posts[post]['conteudo']}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
