{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for('static', filename= 'css/item1.css' )}}>
{% endblock %}

{% block titulo %}{{livro.titulo}} - Virtual Librarian{% endblock %}

{% block conteudo %}
    {{ super() }}
<div class="container-fluid" >

    <!--CAIXA DO ITEM 1-->
    <div class="media border p-3">
        <img class="img-fluid" id='imagem-livro' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{livro.imagem}}'>
        <div class="media-body">
            <h4>{{livro.titulo}} <small><i>({{livro.autor}})</i></small></h4>
            <small><i>Adicionado em 06 de Março de 2021 <br></i></small>
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#resumo">Resumo</button>
            <div id="resumo" class="collapse">
                <p class="text-justify">{{livro.resumo}}</p>
            </div>
            <div class="botao">
                <div class= "d-flex flex-row bd-highlight mb-3">
                    <a href="/notificacao/Desejo/{{livro.id}}" class="notificacao1 btn btn-outline-success btn-sm" role="button">Desejo</a>
                    <a href="/notificacao/Tenho/{{livro.id}}" class="notificacao2 btn btn-outline-info btn-sm" role="button">Tenho</a>
                </div>

                {% if current_user.id == livro.usuario_id: %}
                <form action = '/delete/{{livro.id}}'>
                    <p><button type="submit" class="delete btn btn-danger"><i class="material-icons">delete</i></button></p>
                </form>
                {% endif %}
            </div>

            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_resenha">Escrever Resenha</button>
            <!--MODAL DE RESENHAS-->
            <div class="modal fade" id="modal_resenha">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                    <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Escrever Resenha</h4>
                        </div>

                    <!-- Modal body -->
                        <form action="/livros/{{livro.id}}/resenha" method='POST' enctype="multipart/form-data">
                            <div class="modal-body">
                                <textarea  id = "resenhas" name="resenha" cols="" rows="2" placeholder="Resenha..."></textarea>


                            </div>

                    <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="Benviar" class="btn btn-light">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!--DETALHES ITEM 1-->
    <div class="main container">
      <div class="row">
    <!--COLUNA DE CONTATO-->
        <div class="contato col-md-4">
          <h3 id="contato"> Contato</h3>
          <div class="media">
            <img class= 'img-fluid' id='imagem-usu' src= https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{usuario.imagem}}>
            <div class="media-body">
              <form action="/perfil/{{livro.usuario_id}}">
                <input type="hidden" name="var" value="1" />
                <button class="tim"><h5>{{usuario.nome}} {{usuario.sobrenome}}</h5></button>
              </form>

              <p><small id="reput">Confiável/duvidosa</small></p>
              <button type="button" id = "botaochat" class="mensagem btn btn-warning btn-sm"><a href="/forum/{{usuario.id}}/{{current_user.id}}"class="material-icons">message</a></button>
            </div>
          </div>
        </div>
    <!--COLUNA PRINCIPAL-->
        <div class="col-md-8">
          <h2 id="detalhes">Detalhes</h2>
          <b>Status do livro:</b> {{livro.status}}
          {% if livro.preco != 0.0 %}
            <p><b>Preço: </b>R$ {{livro.preco}}</p>
          {% endif %}
          <p>
              <b>Gênero: </b>
            {% for genero in livro.generos %}
                {{genero.nome}}
            {% endfor %}
          </p>
          {% if livro.condicao %}
            <p><b>Condições do livro:</b> {{livro.condicao}}</p>
            <img class="img-fluid" id='imagem-danos' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{livro.dano}}'>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

    <div class = "container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="detalhes">Dúvidas</h2>
                <div class="media border p-4">
                    <img class= 'img-fluid' id='imagem-usu' src= https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{current_user.imagem}}>
                    <div class="media-body">
                        <h5>{{current_user.nome}} {{current_user.sobrenome}}</h5>
                        <form action = '/forum/cadastro/{{livro.id}}' method='POST'>
                            <div class = "formatopostagem">
                                <textarea  name="comentario" cols="" rows="2" placeholder="Dúvida..."></textarea>
                                <button id='enviar' type="submit" class="botaoenviar btn">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% for post in posts %}
                    {% if posts %}
                        {% if posts[post].idlivro == livro.id %}

                    <div class = "caixadosbotoes container-fluid">
                        <div class="media border p-4">
                            <div class="teste media">
                                {% if posts[post].imagem %}
                                    <img class='rounded-circle' id='img-usu' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{posts[post].imagem}}'>
                                {% else %}
                                    <div class="fakeimg mr-2">Foto do {{posts[post]['nome']}}</div>
                                {% endif %}
                                <div class="formatopostagem">
                                    <div class = "p-2 flex-fill bd-highlight">
                                        <h5 id="data">{{posts[post]['nome']}} {{posts[post]['sobrenome']}} <small><i>Postou em {{posts[post]['data'].strftime("%d/%m/%Y")}}</i></small></h5>
                                        <p class = "textopostagem">{{posts[post]['conteudo']}}</p>
                                        <div class = 'row'>
                                            <button id = 'responder' class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formResposta{{posts[post].id}}">Responder</button>
                                            <button id = 'responder' class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formRespostas{{posts[post].id}}">Respostas</button>
                                            {% if current_user.id == posts[post].idusuario %}
                                                <form action = '/delete/forum/{{posts[post].id}}/{{posts[post].idlivro}}' method='POST'>
                                                    <p><button type="submit" class="delete btn btn-danger"><i class="material-icons">delete</i></button></p>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div id="formResposta{{posts[post].id}}" class="collapse">





                                            <form action = '/forum/cadastro/resposta/{{posts[post].idlivro}}/{{posts[post].id}}' method='POST'>
                                                <div class = "formatopostagem">
                                                    <textarea  name="resposta" cols="" rows="2" placeholder="Dúvida..."></textarea>
                                                    <button id='enviar' type="submit" class="botaoenviar btn">Publicar</button>
                                                </div>
                                            </form>





                                        </div>
                                    </div>

                                <div id = "formRespostas{{posts[post].id}}" class="collapse">
                                    {% for resposta in respostas %}
                                        {% if respostas[resposta].idforum == posts[post].id %}
                                            {% if posts[post].id %}

                                                <div class = "media mt-3">



                                                    <div class="teste media">
                                                        <img class='rounded-circle' id='img-usu' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{respostas[resposta].usuario.imagem}}'>

                                                        <div class="formatopostagem">
                                                            <div class = "p-2 flex-fill bd-highlight">
                                                                <h5 id="data">{{respostas[resposta].usuario.nome}} {{respostas[resposta].usuario.sobrenome}} <small><i>Postou em {{respostas[resposta]['data'].strftime("%d/%m/%Y")}}</i></small></h5>
                                                                <p class = "textopostagem">{{respostas[resposta].texto}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
