{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename= 'css/login.css' )}}>
{% endblock %}

{% block titulo %}Login - Virtual Librarian{% endblock %}

{% block conteudo %}
<form class="form" action= "/feed" method="POST">
    <div class="card-top">

         <h2 class="title" >Login </h2>
         <p > Faça seu login</p>
    </div>

   <div class="card-group">
        <label >Email</label>
        <input type="text" name="email"placeholder="digite seu email">
   </div>

   <div class="card-group">
        <label >senha</label>
        <input type="password" name="senha"placeholder="digite sua senha">
    </div>


   <div class="card-group">
        <label ><input type="checkbox"> Lembre-me</label>
    </div>
   <div class="card-group">
        <button type="submit">ACESSAR</button>
    </div>

    <p class = "botao">
        <a href="/">HOME</a>
    </p>

</form>
{% endblock %}