{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename= 'css/login.css' )}}>
{% endblock %}

{% block titulo %}Login - Virtual Librarian{% endblock %}

{% block conteudo %}

<div class="login container-fluid">
    <form class="form" action= "/feed">
        <div class = "card">
            <div class="card-header">
                <div class ="boximagem">
                    <img class = "imagem" src = "https://i.imgur.com/nVHQMfK.png">
                    <div class = "boxtexto">
                        <h2 class="title" >Login </h2>
                        <p > Faça seu login</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-group">
            <label >Email</label>
            <input type="text" name="email"placeholder="digite seu email">
        </div>

        <div class="card-group">
            <label>Senha</label>
            <input type="password" name="senha"placeholder="digite sua senha">
        </div>

        <div class="card-group">
            <label ><input type="checkbox"> Lembre-me</label>
        </div>

        <div class="card-group">
            <button type="submit">ACESSAR</button>
        </div>

        <p class = "botao">
            <a href="/">HOME</a>
        </p>
        </div>
    </form>
</div>
{% endblock %}
