{% extends 'base.html' %}

{% block csss %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for('static', filename= 'css/perfil.css' )}}>
{% endblock %}

{% block titulo %}Meu Perfil - Virtual Librarian{% endblock %}

{% block conteudo %}
    {{ super() }}

<div class="main container-fluid" >
        <!--Cabeçalho do perfil-->

    {% if current_user.is_authenticated %}
            {% if erro: %}
                <div class="alerta alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{erro}}
                </div>
            {% endif %}
        <div class="media border p-3">
	    {% if usuario %}
	        {% if current_user.imagem %}
                <img class='img-fluid' id='imagem-perfil' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{usuario.imagem}}'>
            {% else %}
                <div class="foto fakeimg mr-3">Foto do Usuário</div>
            {% endif %}
            <div class="media-body">
                <h4>{{usuario.nome}} {{usuario.sobrenome}}</h4>
                <p>{{usuario.biografia}}</p>
                <div class="texto">
                    <p><small>{{usuario.email}}</small></p>
                    <p class="reput"> <small> Reputação:  (Confiável/Duvidosa) </small></p>
                </div>
                <div class="d-flex justify-content-start">

                    {% if existe == 0 %}
                        <a class = "amigos btn btn-info btn-sm" href="/adicionar/{{usuario.id}}">
                            Adicionar amigo
                        </a>

                    {% else %}

                        <a class = "amigos btn btn-info btn-sm" href="/remover/{{usuario.id}}">
                            Remover amigo
                        </a>


                    {% endif %}


                </div>
        {% else %}
        {% if current_user.imagem %}
            <img class='img-fluid' id='imagem-perfil' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{current_user.imagem}}'>
        {% else %}
            <div class="foto fakeimg mr-3">Foto do Usuário</div>
        {% endif %}
            <div class="media-body">
                <h4>{{current_user.nome}} {{current_user.sobrenome}}</h4>
                <p>{{current_user.biografia}}</p>
                <div class="texto">
                    <p><small>{{current_user.email}}</small></p>
                    <p class="reput"> <small> Reputação:  (Confiável/Duvidosa) </small></p>
                </div>

        <!--Botão de configuração-->
                <div class="conf dropdown dropright">
                    <button id = 'config' type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown">
                      <i class="icone material-icons">settings</i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="conf dropdown-item" href="#modal" data-toggle="modal">Dados de Cadastro</a>
                      <a class="conf dropdown-item" href="#modal_geral" data-toggle="modal">Dados Gerais</a>
                    </div>
                </div>

            <!-- The Modal Cadastrais-->
                <div class="modal fade" id="modal">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">

                        <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Dados de Cadastro</h4>
                                <small id="obs">Preencha apenas os campos que deseja alterar</small>
                            </div>

                        <!-- Modal body -->
                            <form action="/atualiza" method='POST'>
                                <div class="modal-body">
                                    <div class="row">

                                    <!-- COLUNA 1 -->
                                        <div class='col md-5'>
                                            <label for="nome_atual">Nome Atual</label>
                                            <input type="text" name="nome_atual" class="form-control" value="{{current_user.nome}}"disabled>
                                            <label for="sobrenome_atual">Sobrenome Atual</label>
                                            <input type="text" name="sobrenome_atual" class="form-control"value="{{current_user.sobrenome}}"disabled>
                                            <label for="email_atual">Email Atual</label>
                                            <input type="email" name="email_atual" class="form-control"value="{{current_user.email}}"disabled>
                                            <label for="senha_atual">Senha Atual  <small id="obs">*Campo Obrigatório</small></label>
                                            <input type="password" name="senha_atual" class="form-control" required>
                                        </div>

                                    <!-- COLUNA 2 -->
                                        <div class="col md-5 ml-auto">
                                            <label for="nome_novo">Novo Nome</label>
                                            <input type="text" name="nome_novo" class="form-control">
                                            <label for="sobrenome_novo">Novo Sobrenome</label>
                                            <input type="text" name="sobrenome_novo" class="form-control">
                                            <label for="email_novo">Novo Email</label>
                                            <input type="email" name="email_novo" class="form-control">
                                            <label for="senha_nova">Nova Senha</label>
                                            <input type="password" name="senha_nova" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="botaoatualizar" class="btn btn-light">Atualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- The Modal Gerais-->
                <div class="modal fade" id="modal_geral">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">

                        <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Dados Gerais</h4>
                                <small id="obs">Preencha apenas os campos que deseja alterar</small>
                            </div>

                        <!-- Modal body -->
                            <form action="/atualizardg" method='POST' enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row">

                                    <!-- COLUNA 1 -->
                                        <div class='col md-5'>
                                            {% if current_user.imagem %}
                                                <img class='img-fluid' src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{current_user.imagem}}'>
                                            {% else %}
                                                <div class="foto fakeimg mr-3">Foto do Usuário</div>
                                            {% endif %}

                                            <button id = "anexos" class="file-button btn btn-light" type="button"><i class="material-icons">open_in_browser</i></button><br>
                                            <input class="file-chooser" name = "imagemsel" type="file" accept="image/*" hidden>
                                            <img class="previa">
                                            <!-- JAVASCRIPT -->
                                            <script src="/static/js/estante.js"></script>
                                        </div>

                                    <!-- COLUNA 2 -->
                                        <div class="col md-5 ml-auto">
                                            <div class="biografia">
                                                <label for="biografia">Biografia</label>
                                                <textarea class="form-control" name="biografia" id="biografia" aria-label="Com textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="botaoatualizar" class="btn btn-light">Atualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form action = '/delete'>
                    <div class="d-flex justify-content-end">
                        <button class="remover"><i class="material-icons">close</i></button>
                    </div>
                </form>

        {% endif %}

            </div>
        </div>

        <!--Barra de pesquisa perfil-->
        <nav class="navbar navbar-expand-sm bg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="barra-perfil collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Detalhes</a>
                    </li>
                    {% if usuario %}
                        <li class="nav-item">
                            <a class="nav-link" href="/amigos">Amigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estante">Estante</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/amigos">Amigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estante">Estante</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mensagens (0)</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>


      <!--Começo das colunas-->
        <div class="container2 container">
            <div class="row">
      <!--Coluna Listas-->
                <div class="list col-md-2">
                    <h4>Listas</h4>
                    <ul class="nav nav-pills flex-column">
                        {% if usuario %}
                            <li class="nav-item">
                                <a class="nav-link" href="/estante">Estante de Exibição</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Estante de Troca</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Estante de Venda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">XXXXX</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/estante">Estante de Exibição</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Estante de Troca</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Estante de Venda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">XXXXX</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

      <!--Coluna Principal-->
                <div class="principal col-md-7">
                    {% if not usuario %}
                        {% if postagens %}
                            {% for postagem in postagens %}
                                <h4>Resenha Literária<small id="data"><i>Postou em {{postagem.data.strftime("%d/%m/%Y")}}</i></small></h4>
                                {% if postagem.imagem %}
                                    <img class='img-fluid' id="capa-resenha" src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{postagem.imagem}}'>
                                {% endif %}
                                <p>{{postagem.conteudo}}</p>
                                <br>
                            {% endfor %}
                        {% else %}
                            <p id="nada"><i>Nenhuma postagem</i></p>
                        {% endif %}
                    {% else %}
                        {% if postagens %}
                            {% for postagem in postagens %}
                                <h3>Resenha Literária<small id="data"><i>Postou em {{postagem.data.strftime("%d/%m/%Y")}}</i></small></h3>
                                {% if postagem.imagem %}
                                    <img class='img-fluid' id="capa-resenha" src='https://www.pythonanywhere.com/user/VirtualLibrarian/files/home/VirtualLibrarian/Virtual-Librarian/Frontend/PVL/uploads/{{postagem.imagem}}'>
                                {% endif %}
                                <p>{{postagem.conteudo}}</p>
                                <br>
                            {% endfor %}
                        {% else %}
                            <p id="nada"><i>Nenhuma postagem</i></p>
                        {% endif %}
                    {% endif %}
                </div>

      <!--Coluna avisos-->
                {% if not usuario %}
                    <div class="aviso col-md-3">
                        <h4>Quadro de avisos:</h4>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Disponíveis</strong><br>José Maria quer <a href="/dom-quixote" class="alert-link">livro tal</a> da sua lista.
                        </div>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erro</strong><br><a href="/dom-quixote" class="alert-link">Livro tal</a>não está disponível.
                        </div>
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Desejados</strong><br>Maria José sinalizou que tem <a href="/pequeno-principe" class="alert-link">livro tal</a>  da sua lista.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% endif %}
</div>
{% endblock%}
