body{
    margin: 0;
    background-color: darkslategrey;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
div.header {
    background-color: #fbdd47;
    padding: 15px 20px;
}
#TITULO {
    width: 100%;
    text-align: center;
    position: top;
    font-size: 40px;   
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#LOGO {
    position: absolute;
    max-width: 60px;
    height: auto;
    top: 2%;
    left: 0.2%;
}
div.sub-header{
    position: relative;
    height: 40px;
    top: -17px;
    background-color: limegreen;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 12px;
}
#ulsub1 {
    position: absolute;
    top: 3px;
    text-align: left;
}
#ulsub2 {
    position: absolute;
    top: 3px;
    left: 17%;
}
#ulsub3 {
    position: absolute;
    top: 3px;
    left: 34%;
}
#ulsub4 {
    position: absolute;
    top: 3px;
    left: 57%;
}
a:link {
    display : block;
    text-decoration: none;
    color: white;
}
ul a:hover {
    border: 5em;
    border-radius: 1em;
    margin: 0.1em;
    padding: 2px , 3px;
    box-shadow: 1.5px 1.5px 1.5px black;
    background-color: rgb(75, 239, 245);
    color:white;
}
a:visited {
    color: white;
}
a:active {
    color: black;
    box-shadow: 0 0 0 0 black;
}
.caixapesquisa {
    position: relative;
    border-radius: 48px;
    height: 3%;
    width: 8%;
    top: -47px;
    left: 82%;
}
.botaopesquisa {
    position: absolute;
    background-color: limegreen;
    border: none;
    padding: 0;
    top: 114px;
    left: 94%;
}

img.parte2{
   width: 80px;
   height: 80px;
}
th{
  color: blue;
  }
  
  table.estetica{ 
 border: 1px lightgray;
 }
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
th, td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white; 
}
.css-mine {
  margin-top: 2em;
  clear: both;
}
body {
  margin: 1.5em;
}

   
