/* geral */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: helvetica, sans-serif;
color: #323232;
border: none;
  
}

input,label {
  display:block;
  width: 100%;
  }
  
input:focus, label:focus {
  outline: none;
}

a {
  color: #E60084;
}

body {
  padding-top: 5vh; /* view hwight -> 5% da tela */
  background-image: url('https://miro.medium.com/max/2400/0*xRkytAftnlGPo3jK.jpg');
  background-size: cover;
  background-position-y: -150px;
}

/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color:  #fffE00;
  border-radius: 10px;
  padding: 25px;
  }
  #main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /* adaptada ao elemento root */
  }
  
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: #E60084;
}

input[type="submit"] {
  background-color: #E60084;
  color: #FFF;
  border: none;
  border-radius: 20px;

  cursos: pointer;
  }
  #agreement {
    margin-right: 5px;
  }
  
  #agreement, #agreement-label {
    display: inline-block;
    width: auto;
  }
  
  /* validações */
  .error-validation {
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
  }
  
  .template {
    display: none;
  }
  p.botao a { 
    position: relative; 	
    top: -15px;
    padding:10px 20px;
    text-decoration: none;
    text-align:center;	
    color:white;
    background: #E60084;	
    border-radius: 20px;
    width:450px;  
    height:35px;	
    display:block;	
    font-size: .9rem;
}
