<!DOCTYPE html>
<html lang="en">
<head>
    {% block csss %}

    {% endblock %}

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    {% block conteudo %}
        <!--Cabeçalho geral-->
        <div class = "header">
            <h1 id = "TITULO">Virtual Librarian</h1>
            <img id = "LOGO" src="/static/LOGOTIPO VIRTUAL LIBRARIAN.png" alt="VIRTUAL LIBRARIAN">
        </div>
        <div class = "sub-header">
            <ul id = "ulsub1"><a href="/">Home</a></ul>
            <ul id = "ulsub2"><a href="/feed">Feed</a></ul>
            <ul id = "ulsub3"><a href="/cadastro">Cadastro</a></ul>
            <ul id = "ulsub4"><a href="/login">Login</a></ul>
        </div>

        <!--BARRA DE PESQUISA-->
            <form class="form-inline" action="/action_page.php">
                <input class="caixapesquisa" type="text" placeholder="Pesquisa">
            </form>

    {% endblock %}
</body>
</html>