{% extends "base.html" %}
{% block csss %}
    <link rel="stylesheet" href={{url_for('static', filename= 'index.css' )}}>
{% endblock %}

{% block titulo %} Página inicial - Virtual Librarian {% endblock %}

{% block conteudo %}
    {{  super() }}
        <!--IMAGEM INICIAL-->
        <div class = "pagini">
            <img class = "img-fluid" src="/static/PAGINAINICIAL1-1024w.png">
        </div>
        <div class = "frase">
            <div class = "caixa">
                <p id = "para1">"Um livro é um sonho que seguramos com as mãos" <br> Neil Gaiman</p>
                <p id = "para2">Então, junte-se ao Virtual Librarian e compartilhe seus sonhos!!!</p>
            </div>
        </div>
        <div class = "funcionalidades">
            <table>
                <caption>Funcionalidades do Site</caption>
                <tr>
                    <th>Estante Própria</th>
                    <th>Troca de Livros</th>
                </tr>
                <tr>
                    <td>Estante própria para exibir os livros de sua coleção e/ou os que deseja trocar com outros usuários</td>
                    <td>Troca de livros entre usuários para promover uma maior inserção no ambiente literário</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}