@import url(./style.css);

body{
    margin: 0;
    background-color: white;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    min-width: 18rem;
}
.card-body {
    text-align: center;
}
.card-link {
    flex-direction: row;
}
.card-text {
    padding-top: 10px;
    text-align: center;
}
.card-img-top {
    height: auto;
}
.img-fluid {
    max-width: 100%;
    width: 200px;
    height: 150px;
}
