body{
    margin: 0;
    background-color: darkslategrey;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
div.header {
    background-color: #4b3621;
    padding: 15px 20px;
}
#TITULO {
    width: 100%;
    text-align: center;
    position: top;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#LOGO {
    position: absolute;
    max-width: 60px;
    height: auto;
    top: 0% ;
    left: 0.2%;
}
div.sub-header{
    position: relative;
    height: 40px;
    top: -17px;
    background-color: #f5f5dc;
    color: black;

    font-size: 12px;
}
#ulsub1 {
    position: absolute;
    top: 12px;
    text-align: left;
}
#ulsub2 {
    position: absolute;
    top: 12px;
    left: 17%;
}
#ulsub3 {
    position: absolute;
    top: 12px;
    left: 34%;
}
#ulsub4 {
    position: absolute;
    top: 12px;
    left: 57%;
}
a:link {
    display : block;
    text-decoration: none;
    color: black;
}
ul a:hover {
    border: 5em;
    border-radius: 5px;
    margin: 0.1em;
    padding: 2px , 3px;
    box-shadow: 1.5px 1.5px 1.5px black;
    background-color: rgb(75, 239, 245);
    color:black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
    box-shadow: 0 0 0 0 black;
}
.caixapesquisa {
    position: relative;
    border-radius: 48px;
    height: 3%;
    width: 8%;
    top: -47px;
    left: 82%;
}

.pagini {
    font-size: 12px;
    position: relative;
    height: auto;
    width: 100%;
    top: -40px;
    color: white;

}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
    top: 12px;
}
.frase {
    background: darkslategrey;
    text-align: center;
    color: white;
    top: -200px;
}
.caixa {
    box-sizing: border-box;
    border: 2px solid black;
}
