body{
    margin: 0;
    background-color:lightgrey;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
div.header {

    position: relative;
    background-color: #4b3621;
    padding: 15px 20px;
}
#TITULO {
    width: 100%;
    text-align: center;
    margin: 10px 30px 0px 0px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#LOGO {
    max-width: 60px;
    height: auto;
    margin: 0px 0px 10px 0px;
}
.sub-header{
    max-height: 20%;
    background-color: #f5f5dc;
    color: black;
    font-size: 12px;
}
.navbar-toggler{
    font-size: 12px;
    background-color: #f5f5dc;
}
@media only screen and (min-width: 390px) {
    #ulsub1 {
        position: absolute;
        top: 12px;
        left: 13%;
    }
    #ulsub2 {
        position: absolute;
        top: 12px;
        left: 28%;
    }

    #ulsub3 {
        position: absolute;
        top: 12px;
        left: 43%;

    }
    #ulsub4 {
        position: absolute;
        top: 12px;
        left: 58%;

    }
}
a:link {
    display : block;
    text-decoration: none;
    color: black;
}
ul a:hover {
    border: 5em;
    border-radius: 5px;
    margin: 0.1em;
    padding: 2px , 3px;
    box-shadow: 1.5px 1.5px 1.5px black;
    background-color: rgb(75, 239, 245);
    color:black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
    box-shadow: 0 0 0 0 black;
}
.caixapesquisa {
    border-radius: 48px;
    width: 60%;
    text-align: center;
}

div.main{
    margin: 1% 5% 10% 2%;
}
div.foto{
    margin-top: 1px;
    margin-right: 10px;
    height: 150px;
    width: 30%;
}
.botao{
    margin: 5% 1% 10% 0%;
}
p{
    margin-top: 5px;
}
b{
    color: blue;
}
#reput{
    margin-top: 1px;
    color: red;
}
#imagem1{
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}
#resumo{
    margin-top: 3%;
}
#contato{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-left: 4px solid #f5f5dc;
    background-color: #4b3621;
}
#detalhes{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-bottom: 4px solid #f5f5dc;
    background-color: #4b3621;
}

#botaochat {
    background-color: #4b3621;
    border: none;
    margin-right: 50px;
}
.text-justify{
    max-width: 97ch;
    word-wrap: break-word;
}
#imagem-usu{
    height: 110px;
    max-width: 20%;
    min-width: 110px;
    margin-right: 20px;

}
#imagem-livro{
    height: 250px;
    max-width: 20%;
    min-width: 110px;
    margin-right: 20px;
}
.fakeimg {
    height: 100px;
    width: 100px;
    background: #aaa;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px #999;
    width: 60%;
    min-width: 100px;
    max-width: 70%;
  	max-height: 100px;
}
button.botaoenviar {
    margin-bottom: 7%;
    text-align: center;
    max-width: 100px;
    border-radius: 5px;
}
#enviar {
    width: 100%;
    background-color: #d2b48c;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
    outline: none;
}
#img-usu{
    width: 90px;
    margin-right: 1%;
}
#nomeusu {
    margin-left: 10px;
}
#teste {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.textopostagem {
    max-width: 60ch;
    word-wrap: break-word;
    padding-left: 10px;
}
.caixadosbotoes {
    align-content: center;
}
#data{
    min-width: 40ch;
}
@media only screen and (max-width: 775px) {
    #data{
        min-width: 0ch;
    }

}
.material-icons{
    margin-top:5px;
}
#responder {
    height: 50px;
    margin-top: 5px;
}