@import url(./style.css);

body{
    margin: 0;
    background-color:lightgrey;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

div.main{
    margin: 1% 5% 10% 2%;
}
div.foto{
    margin-top: 1px;
    margin-right: 10px;
    height: 150px;
    width: 30%;
}
.botao{
    margin: 5% 1% 10% 0%;
}
p{
    margin-top: 5px;
}
b{
    color: blue;
}
#reput{
    margin-top: 1px;
    color: red;
}
#imagem1{
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}
#resumo{
    margin-top: 3%;
}
#contato{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-left: 4px solid #f5f5dc;
    background-color: #4b3621;
}
#detalhes{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-bottom: 4px solid #f5f5dc;
    background-color: #4b3621;
}

#botaochat {
    background-color: #4b3621;
    border: none;
    margin-right: 50px;
}
.text-justify{
    max-width: 97ch;
    word-wrap: break-word;
}
#imagem-usu{
    height: 110px;
    max-width: 20%;
    min-width: 110px;
    margin-right: 20px;

}
#imagem-livro{
    height: 250px;
    max-width: 20%;
    min-width: 110px;
    margin-right: 20px;
}

#imagem-danos{
    max-height: 250px;
    max-width: 50%;
    min-width: 110px;
}

.fakeimg {
    height: 100px;
    width: 100px;
    background: #aaa;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px #999;
    width: 60%;
    min-width: 100px;
    max-width: 70%;
  	max-height: 100px;
}
button.botaoenviar {
    margin-bottom: 7%;
    text-align: center;
    max-width: 100px;
    border-radius: 5px;
}
#enviar {
    width: 100%;
    background-color: #d2b48c;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
    outline: none;
}
#img-usu{
    width: 90px;
    margin-right: 1%;
}
#nomeusu {
    margin-left: 10px;
}
#teste {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.textopostagem {
    max-width: 60ch;
    word-wrap: break-word;
    padding-left: 10px;
}

.caixadosbotoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
}
#data{
    min-width: 40ch;
}
@media only screen and (max-width: 775px) {
    #data{
        min-width: 0ch;
    }
    .textopostagem {
        max-width: 30ch;
        word-wrap: break-word;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 442px) {
    .textopostagem {
        max-width: 15ch;
        word-wrap: break-word;
        padding-left: 10px;
    }
    #img-usu{
        width: 45px;
        margin-right: 1%;
    }
}
@media only screen and (max-width: 500px) {
    #img-usu{
        width: 55px;
        margin-right: 1%;
    }

}
.material-icons{
    margin-top:5px;
}
#responder {
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}
.tim {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
}

.notificacao1{
    width: 80px;
}
.notificacao2{
    width: 80px;
}
#resenhas {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
}
.modal-header{
    background-color: #d2b48c;
    text-align: center;
}
.modal-body{
    background-color: #ddd9ce;
}
.modal-footer{
    background-color: #ddd9ce;
}
#Benviar{
    background-color: #be935a;
    color: white;
}