body{
  background-color: #f5f5dc
}
.form{
  width:400px;
  margin: auto;
  padding-top:40px;
}
.card{
  box-shadow: 1px 1px 5px #ccc;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.card-top{
  text-align: center;
}
.card-group{
  margin-bottom:10px;
}
.card-group > label{
  width:100%;
  color: rgb(75, 75, 75);
  display: block;
}
.card-group >input{
 border-radius: spx;
 outline:0;
 width:100%;
 height: 25px;
 padding:5px;
}
.card-group > button{
  background-color:#4b3621;
  width: 100%;
  border-radius:30px;
  padding:15px;
  border: 10px;
  color: white;
  flex: 1 1 100%;
  text-decoration: none;
  outline:0;
  margin-bottom: 15px;
}
.title{
  color: #4b3621;
}
p.botao a {
  position: relative;
  top: -15px;
  border: 10px;
  margin-bottom: 50px;
  padding: 15px;
  text-decoration: none;
  text-align:center;
  color:white;
  background: #4b3621;
  border-radius: 30px;
  width:100%;
  height:50px;
  display:block;
}